/*styles*/
body{
    background-color: brown;
    color: aliceblue;
}
header{
    background-color: blue;

}
nav ul{
    background-color: brown;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline;
    padding: 20px;
    margin: 10px;
}
footer{
    background-color: black;
    padding: 30px;
    padding-top: 60px;
    margin-right: 10px;
}